@import url('https://fonts.googleapis.com/css2?family=Lato&family=Londrina+Outline&display=swap');
:root {
    --navBarOpacity: 1;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: 'lato', Verdana, Geneva, Tahoma, sans-serif;
    font-style: none;
    font-weight: normal;
}
img {
    object-fit: contain;
}
h2 {
    font-size: 52px;
}
p {
    font-size: 32px;
}
body, html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-color: #063b0e #77de86;
    scrollbar-width: thin;
}
body::-webkit-scrollbar {
    width: 8px;
    min-height: 8px;
    background-color: #77de86;
}
body::-webkit-scrollbar-thumb {
    background-color: #063b0e;
    border-radius: 3px;
    margin: 5px;
}

#icon {
    position: absolute;
    left: 30px;
    top: 10px;
}
.nav-bar {
    position: fixed;
    width: 100vw;
    background-color: #f1f1f1;
    opacity: var(--navBarOpacity);
    transition: 400ms ease-in-out;
}
.nav-bar:hover {
    opacity: 1;
}
.nav-bar ul {
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.nav-bar li {
    padding: 10px;
    transition: 300ms;
    cursor: pointer;
    user-select: none;
}
.nav-bar li:hover {
    background-color: #e1e1e1;
}

.slide {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    border-bottom: 8px solid #f1f1f1;
    box-sizing: border-box;
}

.slide h1 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 84px;
    font-family: 'Londrina Outline', sans-serif;
    width: min-content;
    line-height: 64px;
    text-align: center;
}

#title {
    justify-content: center;
    align-items: center;
}
#title h1 {
    width: 600px;
    text-align: center;
    font-size: 64px;
}
#title p {
    margin-top: 10px;
    font-size: 22px;
    font-style: italic;
    text-align: center;
}

#problematique {
    justify-content: space-between;
}
#problematique h2 {
    text-align: center;
    font-weight: bold;
    margin: 0 20px;
}
#problematique p {
    text-align: center;
    margin-bottom: 20px;
}

.flexrow {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.flexcolumn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#protocole p {
    margin: 10px 30px;
}

#protocole h2 {
    text-align: center;
    font-weight: bold;
}

#hypothese div {
    margin: auto;
}

#hypothese p {
    margin: 30px;
}
#resultats-attendus div {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-height: max-content;
}
#resultats-attendus img {
    display: block;
    margin: auto;
    height: 100%;
    max-width: 100%;
}

#resultats img {
    display: block;
    margin: auto;
    height: 100%;
    max-width: 100%;
}

#montage {
    background-image: url(./img/backgrounds/12.png);
}
#montage div {
    display: flex;
    justify-content: space-around;
    min-width: 20%;
    max-height: 100%;
}
#montage img {
    min-width: 20%;
    max-height: 80%;
    border-radius: 20px;
}

#interpretation {
    background-image: url(./img/backgrounds/14.png);
    justify-content: space-between;
    background-position: 0px;
}
 
#interpretation > div {
    margin: 5px;
    display: flex;
    align-items: center;
    height: min-content;
}
#interpretation img {
    max-height: 300px;
    max-width: 100%;
}
#interprétation p {
    margin: 5px;
}

#critiques ul {
    margin: 20px;
    padding-left: 30px;
    font-size: 32px;
}
#critiques li {
    margin: 10px 0;
    list-style: disc;
}
#critiques div {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#critiques h2 {   
    text-align: center;
    margin-right: 15px;
    width: 60%;
}


@media screen and (max-width: 530px) {
    h2 {
        font-size: 28px;
    }
    p, #critiques li {
        font-size: 16px;
    }
    .nav-bar ul {
        display: flex;
        justify-content: center;
        font-size: 12px;
    }
    #icon {
        left: 0px;
        top: 30px;
        width: 60px;
    }
    .slide h1 {
        font-size: 48px;
        width: 100vw;
    }
    #title h1 {
        font-size: 48px;
        width: 90%;
    }
    #title p {
        font-size: 16px;
    }
    #montage div {
        flex-direction: column;
        height: 80%;
    }
    #montage img {
        max-height: 50%;
    }
    #interpretation > div {
        flex-direction: column;
    }
}